$siteWidth1600: 1440px;
$widthDesktopSite: 1140px;
$widthProductCart: 360px;
$textColor: #5d5d5d;
$colorHighlightedItems: #f16d7f;
$colorCommonDarkItems: #222222;
$textWhiteColor: #fbfbfb;

$gapGrid: 30px;
$widthBurgerMenu: 232px;
